@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* | Reset */
/* Reset margin, padding, box model */
* {
    margin: 0;
    padding: 0;
    /* See https://css-tricks.com/box-sizing/ for how to cover pseudo elements */
    box-sizing: border-box;
}

:root {
    /* Site color palette */
    --blue: #3498db;
    --green: #2ecc71;
    --gray: #ecf0f1;

    --max-content-width: 1440px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Reset default link style */
a {
    color: inherit;
    text-decoration: none;
}

/* Reset default list bullet points */
ul {
    list-style: none;
}

/* | Layout */
header,
.current-condition,
.forecast,
footer {
    padding: 30px 100px;

    @media (min-width: 1540px) {
        padding-inline: calc((100vw - var(--max-content-width)) / 2);
    }
}

/* | General Style */
h2 {
    font-size: 2rem;
}

/* || Button */
button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: var(--green);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 0 5px 2px rgb(0, 0, 0);
}

/* | Sitewide */
/* || Overlay to show data loading status and errors */
:is(.indicator-overlay, .error-overlay) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    &.active {
        opacity: 0.75;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    background-color: var(--gray);

    .indicator {
        font-size: 4rem;
        color: black;

        &.loading {
            animation: loading 2s linear infinite;
        }
    }
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

/* | Header */
header {
    background-color: var(--blue);

    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    .update-status {
        position: relative;
        background-color: var(--green);
        padding: 20px 40px;
        color: white;
        font-size: 1rem;

        grid-column: 1 / span 4;
    }

    .search-buttons-group {
        grid-column: span 6 / -1;

        height: 2rem;

        display: flex;
        .search-modal-btn {
            flex: 1;
            background-color: white;
            font-size: 1rem;
            color: rgba(128, 128, 128, 0.5);
            text-align: left;
            letter-spacing: 0.1rem;
            padding-inline: 20px;
        }

        .detect-location-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        + .search-modal {
            width: 600px;
            height: 600px;
            position: fixed;
            inset: 50vh 50vw;
            translate: -50% -50%;
            padding: 30px 50px;

            .modal-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .modal-header {
                    text-align: center;
                    font-size: 1.2rem;
                    padding-bottom: 20px;
                    border-bottom: 2px solid black;

                    .modal-close-btn {
                        /* Make it an icon button*/
                        border: none;
                        background-color: transparent;
                        color: black;
                        /* Place it at the top right corner */
                        display: flex;
                        margin-left: auto;

                        align-items: center;
                        justify-content: center;
                        padding: 2px;
                        border-radius: 50%;
                    }
                }

                .modal-content {
                    /* Have results take up the remaining height */
                    /* min-height must be set to override the default content-based minimum size
                for a flex item. This is needed to allow for the items in .results to overflow.
                Ref.: https://drafts.csswg.org/css-flexbox/#flex-common */
                    min-height: 0;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .results-container {
                        position: relative;
                        min-height: 0;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        .results {
                            flex: 1;
                            overflow-y: scroll;
                        }
                    }

                    search {
                        /* Merge the search bar and button by stretching the search bar
                to fill the container and giving a single border around the container */
                        display: flex;
                        #location-search {
                            flex: 1;
                        }
                        border: 2px solid black;
                        border-radius: 5px;
                        :where(#location-search, .search-btn) {
                            border: none;
                            border-radius: 2px;
                            &.search-btn {
                                border-top-left-radius: initial;
                                border-bottom-left-radius: initial;
                            }
                        }

                        #location-search {
                            padding-inline: 10px;
                            font-family: inherit;
                            font-size: 1rem;
                        }
                    }

                    .results {
                        button {
                            display: block;
                            width: 100%;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

/* | Current Condition */
.current-condition {
    background-image: url('https://images.pexels.com/photos/666839/pexels-photo-666839.jpeg');
    background-size: 1440px;
    background-position: center;

    position: relative;
    display: grid;
    grid-template-rows: repeat(3, auto);

    /* Background colors */
    :where(h2, .main-card) {
        /* Change opacity to 60%. Ref: https://stackoverflow.com/a/71098929  */
        background-color: color-mix(in srgb, var(--gray) 60%, transparent);
    }

    .temperature-units-toggle {
        display: flex;
        justify-self: end;

        & button {
            border: none;
            border-radius: unset;

            &.active {
                outline: 2px solid yellow;
                outline-offset: -2px;
            }
        }
    }

    h2 {
        width: max-content;
        padding: 10px 20px;
        text-align: center;
        justify-self: center;
        margin-bottom: 20px;
    }

    .main-card {
        justify-self: center;

        --main-card-col-width: 260px;
        width: calc(2 * var(--main-card-col-width));
        display: grid;
        grid-template-columns: repeat(2, var(--main-card-col-width));
        grid-template-rows: 84px 168px;

        :is(.description, .temperature) {
            grid-column-start: 2;
        }

        .icon {
            grid-row: 1 / span 2;
            font-size: 12rem;
        }

        :is(.icon, .description, .temperature) {
            justify-self: center;
            align-self: center;
        }

        .description {
            font-size: 2rem;
        }

        .temperature {
            font-size: 4rem;
        }
    }
}

/* | Forecast */
.forecast {
    background-color: var(--blue);
    position: relative;

    h2 {
        background-color: var(--green);
        color: white;
        width: max-content;
        padding: 10px 40px;
        text-align: center;
        margin-inline: auto; /* Center the h2 */
        margin-bottom: 20px;
    }

    .forecast-cards {
        --min-card-width: 200px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
        gap: 20px;

        .card {
            display: flex;
            flex-direction: column;
            min-width: var(--min-card-width);
            width: fit-content;
            padding: 20px;

            background-color: white;
            font-size: 1rem;

            :where(.day, .forecast-details) {
                background-color: var(--gray);
            }

            .day {
                text-align: center;
                padding-block: 5px;
            }

            .icon {
                font-size: 10rem;
                text-align: center;
            }

            .forecast-details {
                padding: 10px 10px;
            }
        }
    }
}

/* | Footer */
footer {
    padding-block: 10px;
    text-align: right;
}
